## Problem
Find first duplicate value in the given array of integrer. Elemnts of array will start from 1 to n (inclusive) 
and having length n.
Return first duplicate value or -1 if no duplicate.
You can mutate the array.

Example:
array [2,1,3,4,2,3,3,5]
output = 2

In [3]:
# O(n) | O(n) space
def firstDuplicate(array):
    temp = {}
    for i in range(len(array)):
        if array[i] in temp:
            return array[i]
        temp[array[i]] = True
    return -1

In [4]:
array = [2,1,3,4,2,3,3,5] 
print(firstDuplicate(array))

2

In [5]:
array = [2,1,3,4,5] 
print(firstDuplicate(array))

-1

In [12]:
# O(n) | O(1) space


def firstDuplicate(array):
    for value in array:
        value = abs(value)
        if array[value-1] < 0:
            return value
        array[value-1] *= -1
    return -1

In [13]:
array = [2,1,3,4,2,3,3,5] 
print(firstDuplicate(array))

2

In [14]:
array = [2,1,3,4,5] 
print(firstDuplicate(array))

-1

In [15]:
array = [2, 1, 5, 3, 3, 2, 4]
print(firstDuplicate(array))

3